<mat-card class="w-25">
    <mat-card-title>User Login</mat-card-title>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Username:</mat-label>
                <input matInput placeholder="Enter the username" name="username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password:</mat-label>
                <input matInput placeholder="Enter the password" type="password" name="password">
            </mat-form-field>
            <button mat-flat-button type="submit" color="primary">Login</button>
            <a mat-flat-button color="accent" style="margin-left: 15px;">Register</a>

        </form>

    </mat-card-content>
</mat-card>